.Badges{
    width: 100%;
    padding: 2rem 0;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #ffffff;
    text-align: center;
}

.Badges-container{
    margin-bottom: 2rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 1rem;
}

.Badges-conf-logo{
    margin-bottom: 2rem;
}
.Badges-buttons{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}