img{
    max-width: 100%;
    object-fit: cover;
}
.Error{
    background-image: url('../../images/stars.svg');
    background-color: #1B1B25;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.Error h1{
    font-size: 15vw;
}
.Error p{
    font-weight: 300;
    font-size: 7vw;
}